/* Simple Chart */

/* Generic */
    .sc-chart { background-color:none; overflow:hidden; font-family: 'Merriweather', 'Lato', Arial, sans-serif;  }
    .sc-chart, .sc-chart * { box-sizing:border-box }
    .sc-title { text-align:right; font-weight:600; font-size:14px; color:#555 }

    .sc-item {background-color:#00aeef; box-shadow:inset 0 1px rgba(255, 255, 255, .3); transition:margin .35s; cursor:pointer; }
    .sc-item:hover { z-index:1000; box-shadow:0 1px 3px rgba(255,255,255,.5) }
    .sc-item:hover .sc-tooltip { display:block; margin-top:-30px; }

    .sc-tooltip { display:none; position:absolute; top:-40px; left:50%; width:140px; padding:5px 10px; margin-left:-70px; font-size:11px; background-color:rgba(255,255,255,.95); border-radius:3px; box-shadow:0 3px 10px rgba(0,0,0,.3); transition:margin .35s; }
    .sc-tooltip-value { display:block; height:20px; font-size:16px; font-weight:600 }
    .sc-tooltip-label { color:#555 }

    .sc-label { font-size:13px; color:#777; text-align:center }
    .sc-value {font-size:13px; font-weight:600; }


/* Column */
    .sc-column { position:relative; width:100%; clear:left;margin-left: auto;margin-right: auto;padding-bottom: 30px;padding-top: 60px;}
    .sc-column .sc-canvas { position:relative; float:left; width:100%; height:100%; padding:20px 0 }
    .sc-column .sc-title { float:left; width:100%; padding:10px 0; margin-top:-60px; }
    .sc-column .sc-item { position:absolute; bottom:0; text-align:center;border-radius: 2px; }
    .sc-column.sc-20-items .sc-label, .sc-column.sc-many-items .sc-label { width:200%; margin:0 -50% }
    .sc-column.sc-20-items .sc-item:nth-child(2n) .sc-label, .sc-column.sc-many-items .sc-item:nth-child(2n) .sc-label { bottom:-34px; }
    .sc-column .sc-label { position:absolute; bottom:-50px; left:0; width:100%; height: 40px; overflow:hidden; font-size:9px; font-weight:400;  }
    .sc-column .sc-value { position:absolute; top:-20px; left:0; width:100%;}
    .sc-column .sc-item:hover .sc-label { color:#000 }
 
@media (max-width:767px){
    .sc-column .sc-label{
        font-size: 7px;
        width: 120%;
    }
}
@media (max-width:479px){
    .sc-column .sc-label{
        font-size: 6px;
        width: 180%;
        left: -10px;
    }
}
@media (max-width:274px){
    .sc-column .sc-label{
        font-size: 5px;
        width: 200%;
        left: -10px;
    }
}
